@tailwind base;
@tailwind components;
@tailwind utilities;
/* Dark mode styles */
.dark-mode {
    background-color: #1F2937; /* Dark background color */
    color: #D1D5DB; /* Light text color */
  }
  
  /* Ensure the body has dark mode styles */
  body.dark-mode {
    background-color: #1F2937;
    color: #D1D5DB;
  }
  /* globals.css */
body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  .bg-light {
    background-color: #f0f0f0;
  }
  
  .bg-dark {
    background-color: #121212;
  }
  
  .text-light {
    color: #f0f0f0;
  }
  
  .text-dark {
    color: #121212;
  }
  